*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,21,7,1) 35%, rgba(0,212,255,1) 100%);
}